<od-widget widget-title="{{ detailPageController.service.getSelectedTask().title }}" template="tpl-small-header">
    <od-widget-header>
        <navigation-slot>
            <div role="group" class="btn-group tab-group btn-group-sm">
                <button class="tab" ui-sref-active="active" type="button" ui-sref="detail.view">Aufgabe</button>
                <button class="tab" ui-sref-active="active" type="button" ui-sref="detail.comment">Kommentare</button>
            </div>
        </navigation-slot>
    </od-widget-header>
    <od-widget-content nospacing>
        <ui-view></ui-view>
    </od-widget-content>
</od-widget>