
<div style="margin: 15px;">

    <h1>Datei hochladen:</h1>

    <form name="form">
        <div ngf-drop="ctrl.uploadFiles()"
             ngf-select="ctrl.uploadFiles()"
             ng-model="ctrl.file"
             class="drop-box">

            <span class="glyphicon glyphicon-open drop-box-image"></span>
        </div>
    </form>
    <uib-progressbar ng-if="ctrl.isUploading" class="progress-striped active" max="100" value="ctrl.progress" type="danger"><i>{{ctrl.progress}} %</i></uib-progressbar>

    <div class="alert alert-danger" style="margin-top: 5px;" ng-if="ctrl.error !== ''">
        <span class="icon icon-exclamation-triangle"></span> {{ctrl.error}}
    </div>

    <div class="alert alert-info" ng-if="ctrl.updateSuccess" style="margin-top: 5px;">
        <span class="icon icon-exclamation-triangle"></span> Die Datei '<i>{{ctrl.filename}}</i>' wurde erfolgreich hochgeladen!
    </div>

</div>