<od-widget widget-title="Aufgaben-Liste" template="tpl-small-header">
    <od-widget-header>
        <h1 style="color: rgba(255, 255, 255, 0.8);">
            <i class="icon-folder-open" style="vertical-align: middle; margin-right: 5px;"></i>
            {{tasklistpage.tasklist.title}}
        </h1>
        <navigation-slot>
            <button class="button-add icon-widget-plus" ng-click="tasklistpage.add()"></button>
        </navigation-slot>
    </od-widget-header>
    <od-widget-content nospacing>
        <div ng-if="tasklistpage.loading">
            <od-loader></od-loader>
        </div>
        <div ng-if="!tasklistpage.loading && tasklistpage.error" class="alert alert-danger" ng-bind="tasklistpage.errorMessage"></div>
        <od-scrollbar>

            <oddc-tasklist ng-if="!tasklistpage.loading && !tasklistpage.error"
                           on-select-task="tasklistpage.onSelectTask({ $task })"
                           selected-task="tasklistpage.service.getSelectedTask()"
                           tasks="tasklistpage.service.getTasks()"
                           on-closed-tasks-visibility-change="tasklistpage.onClosedTasksVisibilityChange($visibility)"
                           on-status-change="tasklistpage.onStatusChange($task)"></oddc-tasklist>


        </od-scrollbar>
    </od-widget-content>
</od-widget>