
<od-loader ng-if="ctrl.isLoading"></od-loader>

<div class="alert alert-warning" ng-if="ctrl.tasklists.length === 0 && !ctrl.isLoading" style="margin: 25px;">
    <span class="icon icon-exclamation-triangle"></span> Es wurde keine Listen gefunden!
</div>

<div class="open-task-list" ng-if="ctrl.tasklists.length > 0">
    <ul class="tasklist list-group">
        <li ng-repeat="group in ctrl.tasklists" ng-class="" class="list-group-item item-hover" ng-click="ctrl.openList(group)">
            <span class="tasklists-item">
                <span class="glyphicon glyphicon-star tasklists-flag" ng-if="group.isPrivate"></span>
                <span class="glyphicon glyphicon-user tasklists-flag" ng-if="group.isTeamlist"></span>
                <span class="glyphicon glyphicon-tags tasklists-flag" ng-if="group.isProjectgrouplist"></span>
                <span class="glyphicon glyphicon-asterisk tasklists-flag" ng-if="group.isSearchList"></span><!-- FILTER -->
                {{group.title}}
            </span>
            <span class="label label-default pull-right" style="font-size: 14px; font-weight: normal; width: 80px;">{{group.count}} offen</span>
        </li>
        <div class="pull-right" style="margin-right: 20px;" ng-if="group.isLoading">
            <svg class="lothar" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </ul>
</div>