<div class="media">
    <div class="thumb thumb-sm">
        <img class="media-object img-circle" ng-src="{{ chatbubble.message.user.image }}" alt="{{ chatbubble.message.user.firstname }} {{ chatbubble.message.user.lastname }}">
    </div>
    <div class="media-body">
        <p class="media-heading"><a role="button" tabindex="0" class="name">{{ chatbubble.message.user.firstname }} {{ chatbubble.message.user.lastname }} </a><span class="datetime">Am {{ chatbubble.message.createdAt | date : 'dd.MM.yyyy - H:mm' }} Uhr</span>
        </p>
        <span class="body">{{ chatbubble.message.comment }}</span>
    </div>
</div>