
<div style="height: 340px;">
    <div class="alert alert-danger" id="error" ng-if="ctrl.error !== ''" style="margin: 5px;">
        <span class="icon icon-exclamation-triangle"></span> {{ctrl.error}}
    </div>
    <od-scrollbar>
        <ul class="list-group users">
            <li ng-repeat="user in ctrl.users | notInArray:ctrl.currentUsers:'id'"
                class="ellipsify user list-group-item item-hover"
                ng-click="ctrl.addUser(user)">
                <img class="attach-img img-circle" ng-src="{{ user.image }}"
                     alt="{{ user.firstname }} {{ user.lastname }}"/>
                <span class="username">{{ user.firstname }} {{ user.lastname }}</span>
                <span class="glyphicon icon-chevron-right"></span>
            </li>
        </ul>
    </od-scrollbar>
</div>