
<div style="margin: 15px;">

    <div class="well">
        <div style="font-size: 20px;">
            <span class="glyphicon glyphicon-file"></span>
            datei0.pdf
        </div>

        <table style="font-size: 15px; margin-top: 20px;">
            <tr><td>Type:</td><td>PDF</td></tr>
            <tr><td>Größe:</td><td>2.5 MB</td></tr>
        </table>

    </div>

    <div class="col-xs-6">
        <button class="btn btn-primary btn-block" ng-click="ctrl.download()">Download</button>
    </div>

    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="ctrl.cancel()">Abbrechen</button>
    </div>

</div>