<div style="height: 340px;">
    <od-scrollbar>
        <ul class="list-group users">
            <li ng-repeat="user in detailAssignController.service.getUsers()"
                class="ellipsify user list-group-item item-hover"
                ng-click="detailAssignController.attachUser(detailAssignController.service.getSelectedTask(), user)">
                <img class="attach-img img-circle" ng-src="{{ user.image }}"
                     alt="{{ user.firstname }} {{ user.lastname }}"/>
                <span class="username">{{ user.firstname }} {{ user.lastname }}</span>
                <span class="glyphicon icon-chevron-right"></span>
            </li>
        </ul>
    </od-scrollbar>
</div>