<od-widget widget-title="{{indexpage.service.getSelectedTask().title || 'Aufgaben'}}"
           template="tpl-small-header" icon="ressources/images/icon.svg">
    <od-widget-header>
        <div ng-if="!indexpage.loading && !indexpage.error" class="col-xs-5">
            <form ng-submit="indexpage.addTask(indexpage.newTask)">
                <input style="position:absolute;z-index:99;width:calc(100% - 15px);"
                       type="text"
                       class="form-control"
                       ng-model="indexpage.newTask"
                       name="add-task"
                       placeholder="+ Aufgabe hinzufügen..."
                       autocomplete="off"/>
                <button style="right:16px;" ng-show="indexpage.newTask.length > 0" type="submit"
                        class="btn btn-success ok-button">OK
                </button>
            </form>
        </div>
        <navigation-slot ng-if="!indexpage.loading && !indexpage.error">
            <div class="col-xs-push-5 col-xs-7">
                <div role="group" class="btn-group tab-group btn-group-sm">
                    <button class="tab"
                            type="button"
                            ui-sref-active="active"
                            ui-sref="detail.view({ id: indexpage.service.getSelectedTask().id })">Aufgabe
                    </button>
                    <button class="tab"
                            type="button"
                            ui-sref-active="active"
                            ui-sref="detail.comments({ id: indexpage.service.getSelectedTask().id })">Kommentare
                    </button>
                </div>
            </div>
        </navigation-slot>
    </od-widget-header>
    <od-widget-content nospacing>
        <div ng-if="indexpage.loading">
            <od-loader></od-loader>
        </div>
        <div class="alert alert-danger" ng-if="!indexpage.loading && indexpage.error"
             ng-bind="indexpage.errorMessage"></div>
        <div class="col-xs-5" style="height:100%;">
            <od-scrollbar>
                <oddc-tasklist ng-if="!indexpage.loading && !indexpage.error"
                               tasks="indexpage.service.getTasks()"
                               selected-task="indexpage.service.getSelectedTask()"
                               on-select-task="indexpage.onSelectTask({ $task })"
                               on-closed-tasks-visibility-change="indexpage.onClosedTasksVisibilityChange($visibility)"
                               on-status-change="indexpage.onStatusChange($task)"></oddc-tasklist>
            </od-scrollbar>
        </div>
        <div ng-show="!indexpage.loading && !indexpage.error" class="col-xs-7" style="height:340px;overflow:auto;">
            <ui-view></ui-view>
        </div>
    </od-widget-content>
</od-widget>