.users .user {
    padding-right: 35px;
}

.users .user .username {
    padding-left: 15px;
}

.attach-img {
    width: 35px;
    height: 35px;
}

.tpl-small-header .ta-root .ta-editor {
    height: 117px;
    min-height: 117px;
}

.comments {
    padding: 15px 0 0 0;
}

.comments .chat-message-bubble {
    margin: 0 0 15px 0;
}

.ta-scroll-window.form-control,
.tpl-small-header .content .ta-editor.ta-html,
.tpl-small-header .content .ta-scroll-window > .ta-bind,
.tpl-small-header .options .content .ta-editor {
    height: 115px;
    min-height: 115px;
}

.action-box {
    padding: 10px;
}

.action-box .list-group-item {
    font-size: 13px;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
}

.action-box .list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #E8E8E8;
}

.action-box .list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #E8E8E8;
}

.panel .list-group-item.selected {
    background: #F5F5F5;
}

.tasklist-item {
    padding-right: 25px;
}

.chat-message-bubble {
    padding: 0 15px;
}

.chat-message-bubble .chat-message-bubble-image {
    width: 35px;
    height: 35px;
    float: left;
}

.chat-message-bubble .chat-message-bubble-image img {
    width: 100%;
    height: 100%;
}

.chat-message-bubble .bubble {
    float: left;
    position: relative;
    margin: 0 0 0 15px;
    max-width: calc(100% - 50px);
}

.chat-message-bubble .bubble .textmessage {
    background: #EDEDED;
    display: inline-block;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
}

.chat-message-bubble .bubble .textmessage .message-timestamp {
    opacity: .5;
}

.chat-message-bubble .bubble .triangle::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 11px;
    border: 7px solid;
}

.chat-message-bubble .bubble .triangle::before {
    left: -6px;
    border-color: #EDEDED;
    transform: rotate(-45deg);
}

.task-assign-area .task-assign-image-area {
    display: inline-block;
    position: relative;
}

.task-assign-area .task-assign-image-area {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.task-assign-area .task-assign-image-area img {
    width: 35px;
    height: 35px;
}

.task-assign-area .task-assign-image-area:hover .hover-user-image {
    display: inherit;
}

.task-assign-area .task-assign-image-area .hover-user-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: .7;
    background: #333333;
    text-align: center;
    color: red;
    line-height: 35px;
    font-size: 25px;
    padding-top: 2px;
}

.commentForm form {
    padding: 0 15px;
}

.ok-button {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 999999;
}

od-widget-header .col-xs-4 .ok-button {
    right: 16px;
}

od-widget-header input.form-control.ng-not-empty {
    padding-right: 50px;
}

od-widget-header input.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #979DAD;
    border: 1px solid #E6E8EF;
}

od-widget-header input.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-color: #66AFE9;
}

od-widget-header input.form-control:hover {
    border-color: #B8BABF;
}

.ta-toolbar {
    display: none;
}

.task-user-add {
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
    width: calc(100% - 34px);
    border: none;
}

.task-user-add:focus {
    border: none;
    outline: none;
}

.panel .action-box li.list-group-item {
    padding: 10px 15px;
}

.panel .action-box li.list-group-item * {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.panel .action-box li.list-group-item.task-user img {
    width: 30px;
    height: 30px;
}

.panel .action-box li.list-group-item.task-user {
    cursor: pointer;
}

.panel .action-box .list-group-item span {
    font-weight: normal;
}

oddc-tasklist ul li.list-group-item.active {
    background: #66AFE9;
    color: #FFFFFF;
}

.panel oddc-tasklist .list-group-item.active.item-hover:hover {
    background: #5B9DD1;
    color: #FFFFFF;
}

ul.tasklist li.list-group-item {
    padding: 15px;
}

oddc-commentlist .odsb-scroll-area.ng-isolate-scope {
    height: 292px !important;
}

.tasklists-item {
    display: inline-block;
    background: url('../../../ressources/images/list.png') no-repeat;
    background-size: 20px 20px;
    width: auto;
    height: 20px;
    padding-left: 40px;
}

.tasklists-flag {
    position: absolute;
    left: 30px;
    top: 25px;
}


.taskadd {
    margin: 10px;
}

.taskadd div {
    padding: 5px!important;
}


.user-slider {
    margin-top: 10px;
}

.user-slider strong {
     font-size: 15px;
}

.user-slider a, p {
    font-size: 15px;
}

.user-slider p span {
    font-size: 12px;
    font-style: italic;
}

.user-slider .item-box {
    display: block;
    text-align: center;
}


.user-slider .item {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border: 1px solid #cfd3cd;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}


.tasklist-add {
    margin: 10px;
}

.tasklist-add button {
    margin-top: 10px;
}

.itembtn {
    position: absolute;
    top: -5px;
    left: 30px;
    background-color: transparent;
    border-color: transparent;
    border: 0px;
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
}

.itembtn:hover {
    color: #8c4646;
}


.searchlist .title {
    text-align: center;
}

.searchlist .title span {
    display: inline-block;
    /* width: 250px; */
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #979DAD;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}


.drop-box {
    border: 3px dashed lightgray;
    background-color: #F8F8F8;
    width: 100%;
    height: 150px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.drop-box-image {
    font-size: 50px;
    margin-top: 40px;
    opacity: 0.5;
}

.dragover {
    border-color: #ffab5f;
}


#assigned_to_user {
    top: 10px;
    font-size: 12px;
}

#save_search_to {
    top: 10px;
}

.taskdelbtn {
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}


/* CHECKBOX */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #DB4C3F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}