<div style="margin: 30px 15px 15px 15px;">
    <div class="alert alert-danger" ng-if="ctrl.error !== ''">
        <span class="icon icon-exclamation-triangle"></span> {{ctrl.error}}
    </div>

    <div class="col-xs-12">
        <h2><i>'{{ctrl.file.filename}}'</i> wirklich löschen?</h2>
    </div>

    <div class="col-xs-12" style="margin-top: 10px;">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Nein, Vorgang abbrechen</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.delete()">Ja, bitte entfernen</button>
    </div>
</div>