<div class="col-md-12" style="height: 292px;">
    <oddc-commentlist task="detailCommentController.service.getSelectedTask()"
                      comments="detailCommentController.service.getSelectedTask().comments"></oddc-commentlist>
</div>

<div class="col-md-12 commentForm">
    <form name="commentForm" ng-submit="detailCommentController.onAddComment(detailCommentController.commentText)">
        <input ng-minlength="1" ng-trim="true" type="text" class="form-control" name="add-comment"
               ng-model="detailCommentController.commentText"
               placeholder="+ Kommentar hinzufügen..."
               autocomplete="off" />
    </form>
</div>