<od-widget widget-title="Aufgabe bearbeiten" template="tpl-small-header">
    <od-widget-header>
        <h1 style="color: rgba(255, 255, 255, 0.8);" ng-if="ctrl.state.current.name === 'detail.view'">
            <i class="icon-folder-open" style="vertical-align: middle; margin-right: 5px;"></i>
            {{ctrl.tasklist.title}}
        </h1>
        <navigation-slot>
            <div role="group" class="btn-group tab-group btn-group-sm" ng-if="ctrl.state.current.name !== 'detail.view'">
                <button class="tab" type="button" ui-sref-active="active" ui-sref="detail.edit">Details</button>
                <button class="tab" type="button" ui-sref-active="active" ui-sref="detail.comments">Kommentare</button>
                <button class="tab" type="button" ui-sref-active="active" ui-sref="detail.files">Dateien</button>
            </div>
            <button class="button-add icon-widget-plus" ng-click="ctrl.add()"></button>
        </navigation-slot>
    </od-widget-header>
    <od-widget-content nospacing>
        <od-scrollbar>
            <ui-view></ui-view>
        </od-scrollbar>
    </od-widget-content>
</od-widget>